* {
 margin: 0px;
 padding: 0px;
 list-style: none;
 text-decoration: none;
 color: white;
 background-color: #eed2cc;
}

body {
 margin-left: 160px;
 margin-right:160px;
}

.title_container {
 margin: 0 auto;
 display: flex;
}

.title_container p{
 background-color:black;
}

.title_container a{
 background-color: black;
}

.first{
 background-color: black;
 font-size:30px;
 padding:20px;
 flex:3;
 justify-content: center;
}

.second{
 background-color: black;
 font-size: 20px;
 padding: 20px;
 flex:1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: right;
}

#load {
 margin:auto;
 height:500px;
 width:800px;
 text-align: center;
 justify-content: center;
 padding:50px;
}

.header {
 height: 145px;
 text-align: center;
 box-sizing: border-box;
 margin-bottom:350px;
}

.header img {
 height: 200px;
 padding-top: 50px;
 padding-bottom: 15px;
}

.header h1 {
 font: bold 50px 'helvetica';
 letter-spacing: 2px;
 margin-top: -1px;
}

.row{
 margin-top: 35px;
 border:3px solid black;
 margin-bottom:30px;
}

.pannels p {
 display: inline-block;
 color: black;
}

.previous{
 grid-area: lefter;
}

.next{
 grid-area: righter;
}

.button_container{
 display:grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
 grid-template-areas:
   "previous next";
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
 .column {
   width: 100%;
   display: block;
 }
}

/* Some left and right padding inside the container */
.container {
 padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
 content: "";
 clear: both;
 display: table;
}

.title {
 color: grey;
}

.map_box{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 100px;
}

.worldMap{
 grid-row: 1/3;
 grid-column: 2/7;
}

.overlay-text {
 align-self: end;
 grid-column: 1/8;
 grid-row: 3/4;
 color: #fff;
 padding: 30px;
 border-top: 3px solid black;
 background-color: transparent;
}

.cls-1:hover{
 fill: yellow;
}

.cls-1{
 transition: fill 0.2s;
}
